:root {
	--primary-color: #ffffff;
	--primary-color-opc: #ffffff96;
	--black: #000000;
	--gray: #d5d5d5;
	--white: #ffffff;
}

.btn.primary,
.btn.primary-outline:hover {
	background-color: var(--primary-color);
	color: var(--black);
	border-color: var(--primary-color) !important;
}

.btn.primary-outline,
.btn.primary:hover {
	background-color: transparent;
	color: var(--primary-color);
	border-color: var(--primary-color) !important;
}

.text.primary {
	color: var(--primary-color) !important;
}

.text.gray {
	color: var(--gray) !important;
}

.input,
.input:focus,
.input:active {
	background-color: transparent;
	color: var(--white)
}

.input:focus {
	box-shadow: 0 0 0 .25rem var(--primary-color-opc);
	border-color: var(--primary-color);
}

.input::placeholder {
	color: var(--gray) !important;
}

.custom-accordion .accordion-item {
	border: none;
	/* No border around the accordion items */
}

.custom-accordion .accordion-button {
	background-color: black;
	/* Black background */
	color: white;
	/* White text */
	font-weight: bold;
	box-shadow: none;
	border: 1px solid #444;
	/* Subtle border to outline the button */
	padding: 1rem;
	transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.custom-accordion .accordion-button:hover {
	background-color: #1a1a1a;
	/* Lighter black on hover */
	color: #ddd;
	/* Light gray text */
	border-color: #666;
	/* Slightly brighter border on hover */
	text-decoration: underline;
	/* Add underline on hover */
}

.custom-accordion .accordion-button:focus {
	box-shadow: none;
	/* Remove focus outline */
}

.custom-accordion .accordion-button::after {
	color: white;
	/* Make the arrow visible */
	/* transform: rotate(0); */
	transition: transform 0.3s ease, color 0.3s ease;
}

/* .custom-accordion .accordion-button:not(.collapsed)::after {
	transform: rotate(90deg);
	/* Rotate arrow when expanded */
}

*/ .custom-accordion .accordion-body {
	background-color: black;
	/* Match accordion body to button background */
	color: white;
	/* White text for body */
	border-top: 1px solid #666;
	line-height: 1.6;
	padding: 1rem;
}

/* Explicitly define styles for arrow icon to make it stand out */
.custom-accordion .accordion-button::after {
	color: #ddd !important;
	/* Light gray icon color */
}

.custom-accordion .accordion-button:not(.collapsed)::after {
	color: #fff !important;
	/* Same icon color when expanded */
}
